p {
    font-size: 64px;
    color: purple;
}

/* selector: p
   property: font-size
   property-value: 64px
   declaration
   ruleset or simply rule */

   
/* can be validated at W3C CSS Validation Service */